/* Remove Number incrementor Decrementor */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.bounce {
  animation: gelatine 0.5s 1;
}
@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.animate-scale {
  transform-origin: top;
  animation: scale 0.2s;
}

.animate-scale-reverse {
  transform-origin: top;
  animation: scale 0.2s reverse forwards;
}

@keyframes scale {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

.custom-scroll-bar::-webkit-scrollbar {
  width: 3px;
  height: 4px;
}

/* Track */
.custom-scroll-bar::-webkit-scrollbar-track {
  background: #222222;
}

/* Handle */
.custom-scroll-bar::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #dadada;
}

/* Handle on hover */
.custom-scroll-bar::-webkit-scrollbar-thumb:hover {
  background: #bababa;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
